/* Navbar*/
nav.navbar.navbar-expand-lg.bg-dark.navbar-dark {
    background: #2d0145 !important;
}

ul.navbar-nav.mx-5 {
    --bs-nav-link-color: #fff;
}

a.nav-link.instagram:hover {
color: #fa06ad;
}

a.nav-link.github:hover {
    color: #000000;
}

a.nav-link.whatsapp:hover {
    color: #05ec20;
}

a.nav-link.sesion:hover {
    color: #059bec;
}

section.dashboard {
margin-top: 6rem;
}

/* Dashboard*/
.form-control {
    border: 1px solid #312d2d !important;
}

button.btn.btn-info {
    margin-top: 0.5rem;
    color: #000000;
}

div#v-pills-tab {
    margin-top: 1rem;
}

section.about, 
section.educacion,
section.trabajos,
section.experiencia,
section.proyectos {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
